[user]
    name = bow
    email = bow@bow.web.id
    signingkey = 7A10C00C
[core]
    autocrlf = input
    safecrlf = warn
    editor = vim
    excludesfile = ~/.gitignore_global
[diff]
    renames = copies
    mnemonicprefix = true
[color]
    ui = auto
[alias]
    # list all alias
    lsalias = "!git config -l | grep alias | cut -c 7-"

    # basic shortcuts
    co = checkout
    ci = commit
    cp = cherry-pick
    st = status
    br = branch
    mg = merge
    sh = stash

    # various commit displays
    hist = log --pretty=format:\"%C(yellow)%h %Cblue%ad %Creset| %s%C(red)%d%Creset %C(cyan)[%an]%Creset\" --graph --date=short
    ls = log --graph --pretty=format:'%C(yellow)%h%Creset |%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)[%an]%Creset' --abbrev-commit --
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    dl = "!git ll -1"
    fl = log -u

    # show branch by date
    brl = for-each-ref --sort=-committerdate refs/heads/ --format='%(color:yellow)%(objectname:short)%(color:reset) %(color:blue)%(committerdate:short)%(color:reset) | %(color:red)(%(refname:short))%(color:reset) %(contents:subject) %(color:cyan)[%(authorname)]%(color:reset)'
    #brl = for-each-ref --sort=-committerdate refs/heads/ --format=\"%C(yellow)%h %Cblue%ad %Creset| %s%C(red)%d%Creset %C(cyan)[%an]%Creset\"

    # handy aliases
    punch = push -f
    ec = config --global -e
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    amend = commit -a --amend

    # assume / unassume changed
    assume = update-index --assume-unchanged
    unassume = update-index --no-assume-unchanged
    # show assumed files
    assumed = "!git ls-files -v | grep ^h | cut -c 3-"
    # unassume / assume all
    unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"
    assumeall = "!git st -s | awk {'print $2'} | xargs git assume"
