configuration {
    terminal: "ghostty";

    modi: "combi";
    combi-modi: "drun,window";

    display-ssh:    "";
    display-run:    "";
    display-drun:   "⬢";
    display-window: "⮼";
    display-combi:  "";

    drun-match-fields: "name,exec";
    drun-display-format: "{name}";
    window-format: "{w} · {t}";
    show-icons: false;

    auto-select: false;
    cycle: true;
    matching: "normal";
    scroll-method: 1;
}

@theme "theme.rasi"
